InterviewTask.Tests/Connected Services/ServiceReference1/FormatService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FormatPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="price" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormatPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FormatPriceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>